*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
    max-width: 100%;
}

body {
  margin: 20px 0;
  background-image: url("https://i.pinimg.com/originals/ca/fe/c2/cafec2809887a1c37c83d9ebbc953252.jpg");
  background-size: contain;
  text-align: center;
}

/* ------------------------------- */
/* ----- SCORE PANEL STYLING ----- */
/* ------------------------------- */

.score-panel {
	text-align: center;
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .restart {
	cursor: pointer;
}

.star1, .star2, .star3 {
    height: 75px;
    width: 75px;
    display: inline-block;
}

.star1{
    background-image: url("../img/Abra.png");
    background-size: contain;
}

.star2{
    background-image: url("../img/Kadabra.png");
    background-size: contain;
}

.star3{
    background-image: url("../img/Alakazam.png");
    background-size: contain;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}

/* ------------------------------- */
/* ----- CARD & GRID STYLING ----- */
/* ------------------------------- */

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .5s linear;
    transform-style: preserve-3d;
    margin: 5px;
    /* background-size: contain; */
  }
  
.card,
.back,
.front {
    height: 150px;
    width: 150px;
}
  
.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}
.front {
    background: url('../img/Pokeball.png') no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: white; */
}

.selected {
    transform: rotateY(180deg);
}

/* .match {
    background: #6589F9 !important;
} */

.hidden {
    visibility: hidden;
}