*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
    max-width: 100%;
}

body {
  margin: 20px 0;
  background-image: url("https://i.pinimg.com/originals/ca/fe/c2/cafec2809887a1c37c83d9ebbc953252.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: yellow;
  font-weight: 800;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

/* ------------------------------- */
/* ----- SCORE PANEL STYLING ----- */
/* ------------------------------- */

.score-panel {
	text-align: center;
	margin-bottom: 10px;
}

.score-panel .stars {
	/* margin: 0;
	padding: 0; */
	display: inline-block;
	/* margin: 0 5px 0 0; */
}

#star1, 
#star2, 
#star3 {
    height: 75px;
    width: 75px;
    display: inline-block;
    max-width: 100%;
}

#star1 {
    background-image: url("../img/Abra.png");
    background-size: contain;
}

#star2 {
    background-image: url("../img/Kadabra.png");
    background-size: contain;
}

#star3 {
    background-image: url("../img/Alakazam.png");
    background-size: contain;
}

.game-options {
    align-items: center;
    display: flex;
    justify-content: center;
}

#moves-img,
#time-img,
#restart-img {
    max-width: 100%;
}

#moves,
#timer {
    background-color: #3568be;
    padding: 5px;
    border-radius: 10%;
}

#moves {
    margin-left: 10px;
    margin-right: 30px;
}

#restart-img {
    margin-left: 15px;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}

.score-panel .restart {
	cursor: pointer;
}

/* ------------------------------- */
/* ----- CARD & GRID STYLING ----- */
/* ------------------------------- */

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .5s linear;
    transform-style: preserve-3d;
    margin: 5px;
    /* background-size: contain; */
  }
  
.card,
.back,
.front {
    height: 150px;
    width: 150px;
}
  
.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}
.front {
    background: url('../img/Pokeball.png') no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: white; */
}

.selected {
    transform: rotateY(180deg);
}

/* .match {
    background: #6589F9 !important;
} */

.hidden {
    visibility: hidden;
}

/* ------------------------------- */
/* -----    MODAL STYLING    ----- */
/* ------------------------------- */

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.modal:target {
	visibility: visible;
	opacity: 1;
}
  
.modal-window {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
}

.modal-window .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.modal-window .close:hover {
	color: red;
}

.modal-window .modal-rank {
	max-height: 30%;
	overflow: auto;
	text-align: center;
	color: black;
}

.show {
	visibility: visible;
	opacity: 100;
}

#starRating li {
	display: inline-block;
}

#play-again {
	background-color: #3568be;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	color: white;
	border-radius: 5px;
}

.mega {
	height: 200px;
	width: 200px;
	margin-top: 20px;
}