/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  margin: 20px 0;
  background-color: lightcyan;
  text-align: center;
  color: black;
  font-weight: 800;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}
#full-game {
  display: flex;
  justify-content: center;
  width: 87%;
}

/* ------------------------------- */
/* ----- CARD & GRID STYLING ----- */
/* ------------------------------- */

.grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
}

.block {
  position: relative;
  height: 50px;
  width: 50px;
  background-size: cover;
}
#sidebar {
    flex-direction: column;
    height: 500px;
    justify-content: space-evenly;
    width: 13vw;
    background-color: black;
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 1234;
    margin-inline-start: 48%;
}
.tools {
    background-size: contain;
    flex-direction: column;
    height: 15%;
    align-items: center;
    width: 10vh;
    padding: 24%;
    border-color: darkgrey;
    background-color: black;
    background-repeat: no-repeat;
}
.tool-label {
  transform: translateY(252%) translateX(7%);
  margin-left: -6px;
  height: 10px;
}
.inventory {
  height: 11%;
  width: 37%;
  max-width: 100%;
}
  
  /* ------------------------------- */
  /* ----- BLOCK & GRID STYLING ----- */
  /* ------------------------------- */
  
  .grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
  }
  
  .block {
    position: relative;
    height: 50px;
    width: 50px;
    background-size: cover;
  }

  .mined {
    visibility: hidden;
    background-image: none;
  }
