/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  margin: 20px 0;
  background-color: lightcyan;
  text-align: center;
  color: black;
  font-weight: 800;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}
#full-game {
  display: flex;
  justify-content: center;
  width: 87%;
}

/* -------- LANDING PAGE --------- */
.landing {
  background-image: url("../img/minecraft.jpg");
  background-size: cover;
  height: auto;
}

.modal div{
  text-align: center;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 65%;
  left: 20%;
  right: 20%
}

.modal button{
  height: 40px;
  width: 140px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 80%;
  left: 45%;
}

/* ------------------------------- */
/* ----- CARD & GRID STYLING ----- */
/* ------------------------------- */

.grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
}

.block {
  position: relative;
  height: 50px;
  width: 50px;
  background-size: cover;
}
#sidebar {
    flex-direction: column;
    height: 500px;
    justify-content: space-evenly;
    width: 13vw;
    background-color: black;
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 1234;
    margin-inline-start: 48%;
}
.tools {
    background-size: contain;
    flex-direction: column;
    height: 15%;
    align-items: center;
    width: 10vh;
    padding: 24%;
    border-color: darkgrey;
    background-color: black;
    background-repeat: no-repeat;
}
.tool-label {
  transform: translateY(252%) translateX(7%);
  margin-left: -6px;
  height: 10px;
}
.inventory {
  height: 36%;
  width: 78%;
}
.resources {
  height: 27%;
  width: 42%;
  max-width: 100%;
  margin: 4%;
  color: white;
}
p {
  margin-top: 143%;
}
  
  /* ------------------------------- */
  /* ----- BLOCK & GRID STYLING ----- */
  /* ------------------------------- */
  
.grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
}
  
.block {
    position: relative;
    height: 50px;
    width: 50px;
    background-size: cover;
}

.mined {
    visibility: hidden;
    background-image: none;
}

.dirt {
    /* position: relative;
    height: 50px;
    width: 50px; */
    background-size: cover;
    background-image: url("../img/dirt.png");
    /* background-size: cover; */
}

.stone {
  /* position: relative;
  height: 50px;
  width: 50px; */
  background-size: cover;
  background-image: url("../img/stone.png");
  /* background-size: cover; */
  }

  /* Mobile display */
@media only screen and (max-width: 640px) {
  .grid {
    max-width: 500px;
  }  
  .block {
    height: 25px;
    width: 25px;
  }
}
