*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background-color: lightcyan;
  text-align: center;
  color: black;
  font-weight: 800;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

#full-game {
  display: flex;
  justify-content: center;
  width: 87%;
}

/* ------------------------------- */
/* -------- LANDING PAGE --------- */
/* ------------------------------- */

.landing {
  background-image: url("../img/minecraft.jpg");
  background-size: cover;
  height: auto;
}

.modal div{
  text-align: center;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 65%;
  left: 20%;
  right: 20%
}

.modal button{
  height: 40px;
  width: 140px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 80%;
  left: 45%;
}

/* ------------------------------- */
/* ------ SIDEBAR   STYLING ------ */
/* ------------------------------- */

#sidebar {
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  width: 13vw;
  background-color: black;
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 1234;
  margin-inline-start: 48%;
}

.tools {
  background-size: contain;
  flex-direction: column;
  height: 15%;
  align-items: center;
  width: 10vh;
  padding: 24%;
  border-color: darkgrey;
  background-color: black;
  background-repeat: no-repeat;
}

.tool-label {
  transform: translateY(252%) translateX(7%);
  margin-left: -6px;
  height: 10px;
}

.inventory {
  height: 36%;
  width: 78%;
}

.resources {
  height: 27%;
  width: 42%;
  max-width: 100%;
  margin: 4%;
  color: white;
}

p {
  margin-top: 143%;
}
  
  /* ------------------------------- */
  /* ----- BLOCK & GRID STYLING ---- */
  /* ------------------------------- */
  
.grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
}

.block,
.mined,
.front {
  height: 50px;
  width: 50px;
}

.block,
.front,
.dirt,
.stone,
.leaves,
.tree {
  background-size: cover;
}

.block {
  position: relative;
}

.grid .block:hover {
  border: solid 1px yellow;
  opacity: .8;
}

.mined {
  position: absolute;
  /* background-image: none; */
  background-color: black;
}

.front {
  position: absolute;
}

.dirt {
  background-image: url("../img/dirt.png");
}

.stone {
  background-image: url("../img/stone.png");
  }

.leaves {
  background-image: url("../img/leaves.png");
}

.tree {
  background-image: url("../img/tree.png");
}

  /* ------------------------------- */
  /* -------- MOBILE STYLING ------- */
  /* ------------------------------- */

@media only screen and (max-width: 640px) {
  .grid {
    max-width: 450px;
  }

  .block,
  .front,
  .back {
    height: 35px;
    width: 35px;
  }

  #sidebar {
    height: 350px;
    margin-inline-start: 50%;
  }

  .tools {
    width: 6vh;
  }

  .tool-label {
    height: 5px;
  }

  p {
    transform: translateY(153%);
    font-size: 10px;
  }

  .inventory {
    width: 80%;
  }
}

@media only screen and (max-width: 950px) and (min-width: 640px) {
  .grid {
    max-width: 700px;
  }

  .block {
    height: 35px;
    width: 35px;
  }

  #sidebar {
    height: 365px;
  }
}
